body {
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: whitesmoke;
}
header img {
    border-radius: 150px;
    height: 300px;
    width: 300px;
    border: 5px solid rgb(146, 190, 241);
}